.announcementBandContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #ff6700;
    margin-top: 1.1rem;
    width: 100vw;
    padding: 0%;
    height: 2vw;
}

.textInformation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 0.95rem;
}