.advBannerContainer {
    display: flex;
    justify-content: center;
    background: red;
    margin-top: 2rem;
    width: 100vw;
    height: 25vw;
    position: relative;
    flex-direction: row;
}

/* .adBanner div{
    display: block;
    float: left;
    box-sizing: border-box; 
} */