.advBannerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: red;
    margin-top: 2rem;
    width: 100vw;
    height: 25vw;
    padding: 0%;
    position: relative;
}

.adBanner {
    box-sizing: border-box;
    flex-direction: row;
}