.header {
  background: #40e0d0;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 100%;
}
.pageCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.orderGallery {
  /* background: crimson; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.orderCont {
  /* background: dodgerblue; */
  width: 40%;
  display: flex;
  gap: 1rem;
  border: 1px solid #40e0d0;
  padding: 1rem;
  border-radius: 20px;
}
.imgCont {
  width: 10rem;
}
@media only screen and (max-width: 1024px) {
  .orderCont {
    width: 90%;
  }
}
