.carouselContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background: red; */
    margin-top: 1rem;
    width: 100vw;
    padding: 0%;
}

.card {
    width: 64rem;
    height: 36rem;
}