.dropdownMenu {
  background: rgb(24, 23, 23);
  text-align: center;
  margin: 0;
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.dropdownItem {
  margin: 1.5rem;
  width: 100%;
  cursor: pointer;
  font-size: 0.9rem;
  margin-left: 0;
}

.dropdownItem:hover {
  background: #40e0d0;
}

.dropdownMenuClicked {
  display: none;
}
